.episode-layout {
  display: flex;
  flex-wrap: wrap;
  min-width: 100vh;
  list-style: none;
}

.episode-box {
  padding: 0.5rem;
  width: 15rem;
}

.header {
  display: flex;
  justify-content: space-between;
  background: white;
  border-bottom: 1px solid black;
  padding: 0.5rem;
  position: sticky;
  top: 0;
}
